# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Conquer-2d.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Moje_Programy\Conquer-2d\.idea\.idea.Conquer-2d\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
